GROQ_API_KEY=your_groq_api_key_here
ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
GROQ_MODEL=openai/gpt-oss-20b
VOICE_ID_MALE=75SIZa3vvET95PHhf1yD
VOICE_ID_FEMALE=mnEe2Jhwlupp6oZEDi3k
WAKE_WORD=hey jarvis
DEFAULT_LANGUAGE=tr-TR
TTS_ENGINE=edge
